#aura
{
    border: 10px coral;
    /* background-color: cornflowerblue; */
    border-left: brown;
    font-family: fantasy;
    font-size: 20px;
    text-align: justify;
    shape-margin: 50%;
}
.ULTRA{
    /* font-size: x-large;
    text-align: justify; */
    background-color: darkorange;
    border: 2px solid red;
    
}
.abc
{
    align-content:;
}